{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4>Posts</h4>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% for post in posts %}
    <div class="card mb-3" >
        <div class="row no-gutters">
            <div class="col-md-4">
                <img width="200" height="200" src="{% if post.thumbnail %}{{ post.thumbnail.url }}{% else %}https://via.placeholder.com/200{% endif %}" class="card-img" alt="{{ post.title }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:300 }}</p>
                    <p class="card-text">
                        <small class="text-muted">By: {{ post.author.username }} at {{ post.created_at|date:"m/d/Y H:i" }}</small>
                        &nbsp;
                        <span class="badge badge-primary">{{ post.replies.approved.count }} Repl{{ post.replies.approved.count|pluralize:"y,ies" }}</span>
                        <span class="float-right">
                            <a class="" href="{% url 'posts:post_detail' post.pk %}">Details</a>
                            {% if request.user.is_superuser or request.user == post.author %}
                            |
                            <a class="" href="{% url 'posts:post_delete' post.pk %}">Delete</a>
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>There are no posts</p>
    {% endfor %}
</div>
{% endblock %}
